<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.journal.fspoPrj"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>

    <application android:icon="@drawable/ic_launcher"
                 android:label="FJournal"
                 android:allowBackup="true">
        <activity android:name=".login_form.FirstActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".settings_form.MainSettingsActivity"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".main_menu.MenuActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                >
        </activity>

        <activity android:name=".journal.looking_journal.LookingJournalActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".journal.edit_journal.TeacherJournalActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".search_users.search_all.SearchAllProfilesActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".search_users.profile.ExtendUserProfileInfoActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".bug_reporter.BugReportInformerActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".messages.MainMessageActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".messages.ChatMessageActivity"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>

        <activity android:name=".server_java.server_managers.ProgressActivity" android:theme="@style/Theme.Transparent">
        </activity>

    </application>
</manifest>
