<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.journal.fspoPrj"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:icon="@drawable/logo">
        <activity android:name=".login_form.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login_form.settings_button_form.MainSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".main_menu.MenuActivity">
        </activity>

        <activity android:name=".journal.MainJournalActivityStarter">
        </activity>

        <activity android:name=".journal.LookingJournalActivity">
        </activity>

        <activity android:name=".journal.EditJournalActivity">
        </activity>

        <activity android:name=".journal.StudentCheckerActivity">
        </activity>

        <activity android:name=".user_profile.ProfileActivity"></activity>

        <activity android:name=".main_menu.BugReportInformerActivity"></activity>

    </application>
</manifest>
